/* 滚动条整体宽度 */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
/* 滚动条滑槽样式 */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
}
/* 滚动条样式 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
    /* box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); */
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-thumb:active {
    background: #999;
}
/* 浏览器失焦的样式 */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(54, 108, 179, 0.2);
}

body {
    word-break: break-all;
    font-size: 14px;
    /* font-family: "PingFang SC",Arial,"Microsoft YaHei",sans-serif; */
    font-family: Lato, sans-serif, "Microsoft YaHei";
    color: #333333;
}

ul, ol {
    margin: 0;
    padding: 0 10px 10px 10px;
    color: #ccc;
}

ul {
    list-style: circle;
}

ul li, ol li {
    margin: 0 0 0 16px;
    padding: 2px 0;
    color: #333;
}