/* 滚动条整体宽度 */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
/* 滚动条滑槽样式 */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
}
/* 滚动条样式 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
    /* box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); */
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-thumb:active {
    background: #999;
}
/* 浏览器失焦的样式 */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(54, 108, 179, 0.2);
}

@font-face {
    font-family: "iconfont";
    src: url("fonts/iconfont.eot");
    src: url("fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("fonts/iconfont.woff") format("woff"), url("fonts/iconfont.ttf") format("truetype"), url("fonts/iconfont.svg#iconfont") format("svg");
}

body {
    word-break: break-all;
    font-size: 14px;
    /* font-family: "PingFang SC",Arial,"Microsoft YaHei",sans-serif; */
    font-family: Lato, sans-serif, "Microsoft YaHei";
    color: #333333;
}

ul,
ol {
    margin: 0;
    padding: 0 10px 10px 10px;
    color: #ccc;
}

ul {
    list-style: circle;
}

ul li,
ol li {
    margin: 0 0 0 16px;
    padding: 2px 0;
    color: #333;
}

hr {
    border: none;
    border-top: 1px solid #cccccc;
}

.check-line,
.checked-line {
    position: relative;
    padding-left: 20px;
    line-height: 22px;
}

.checked-line {
    color: #999999;
}

.check-line:before,
.checked-line:before {
    font-family: "iconfont" !important;
    font-style: normal;
    display: block;
    position: absolute;
    font-size: 16px;
    left: 0;
    top: 0;
}

.check-line:before {
    content: "\e7a9";
}

.checked-line:before {
    font-size: 17px;
    content: "\e7a8";
}

.hr-empty {
    border: none;
    margin: 0;
    padding: 12px;
}
